{% extends "./base_site.html" %}
{% load i18n static %}


{% block coltype %}colMS{% endblock %}

{% block content %}
  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
<div id="content-main">
<h1>Compétence professionnelle</h1>
<h2>{{object.code}} - {{object.nom}}</h2>
<br/>
<h2>Objectifs particuliers</h3>

<div id="accordion">
{% for opa in object.objectifparticulier_set.all %}
<h3 style="font-size:110%;">{{opa.code}} - {{opa.nom}}</h3>
<div>
<ul>
{% for oev in opa.objectifevaluateur_set.all %}
{% if oev.orientation.nom == 'Global' or oev.orientation.nom == 'Gén.'  %}
<li>{{oev.code}}&nbsp;&nbsp;{{oev.orientation.nom}} : &nbsp;{{oev.nom}} - ({{oev.taxonomie}})</li>
{% endif %}
{% endfor %}
</ul>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
