{% extends "./base_site.html" %}
{% load i18n static %}

{% block coltype %}colMS{% endblock %}

{% block content %}

<div id="content-main">

<table id="plan">
<tr>
	<th width="400px">Domaines</th>
	<th width="300px">Année 1</th>
	<th width="300px">Année 2</th>
	<th width="300px">Année 3</th>
</tr>
{% for d in domaines %}
<tr>
	<td class="l{{d.id}} d" >{{ d.nom }}</td>
	<td class="l{{d.id}}" >{% for c in d.cours_annee_1 %}<a href="{% url 'cours' c.id %}">{{c.nom}}</a><br/>{% endfor %}</td>
	<td class="l{{d.id}}" >{% for c in d.cours_annee_2 %}<a href="{% url 'cours' c.id %}">{{c.nom}}</a><br/>{% endfor %}</td>
	<td class="l{{d.id}}" >{% for c in d.cours_annee_3 %}<a href="{% url 'cours' c.id %}">{{c.nom}}</a><br/>{% endfor %}</td>
</tr>
{% endfor %}

</table>
<br/>

</div>
{% endblock %}


